body {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#fond {
    background-color: hsl(215, 32%, 27%);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

.image {
    height: 270px;
    width: 270px;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.Title {
    color:hsl(0, 0%, 100%); 
    margin: 15px;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.Text {
  color: hsl(215, 51%, 70%);
  margin: 15px; 
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

.color1 {
    margin: 15px;
    color: hsl(178, 100%, 50%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

.color2 {
    text-align: right;
    margin: 35px;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

hr {
    background-color: black;
    border: none;
    height: 1px;
}

.Profil {
    margin: 15px;
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    border: solid white;
    border-radius: 25px;
    border-width: 1px;
}

.Text2 {
    color: hsl(0, 0%, 100%);
    margin: -10px;
}

.Text1 {
    margin: 15px;
}